---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import MainLayout from "./MainLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<MainLayout
  pageTitle={title}
  pageDescription={description}
  pageImage={heroImage}
>
  <article
    class="max-w-prose mx-auto relative prose-screen:rounded-xl bg-gray-100 dark:bg-transparent dark:bg-gradient-to-bl dark:from-pink-950/70 dark:to-pink-950/50 border border-black/25 drop-shadow-xl p-4"
  >
    {
      heroImage ? (
        <>
          <div class="relative rounded-lg drop-shadow-md border bg-gray-100 dark:bg-gray-950 border-pink-800/50 overflow-hidden">
            <div class="relative">
              <img width={720} height={360} src={heroImage} alt="" />
              <div class="absolute left-0 right-0 bottom-0 bg-gradient-to-r from-white/90 to-white/80 border-t border-black/10 py-2 px-4 dark:from-black/80 dark:to-black/60">
                <h1 class="text-3xl font-bold text-pink-950 dark:text-pink-50">
                  {title}
                </h1>
              </div>

              <div
                class="absolute right-0 top-0 px-2 py-1 text-white"
                style="text-shadow: 0 0 3px #000, 0 0 10px #000"
              >
                <FormattedDate date={pubDate} />
                {updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )}
              </div>
            </div>
          </div>
          <p class="opacity-75 text-pink-800 dark:text-pink-200 py-2 px-4 text-center italic">
            {description}
          </p>
        </>
      ) : (
        <>
          <div>
            <h1 class="text-3xl font-bold mb-2 text-pink-950">{title}</h1>
            <p class="opacity-75 text-pink-800 dark:text-pink-200 text-center italic">
              {description}
            </p>
          </div>

          <FormattedDate date={pubDate} />
          {updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )}
        </>
      )
    }
    <hr
      class="border-pink-400/10 dark:border-pink-600/10 border-1 rounded-full my-4"
    />
    <div class="prose prose-gray prose-pink dark:prose-invert w-full mx-auto">
      <slot />
    </div>
  </article>
</MainLayout>
